In [3]:
import pandas as pd
import pyodbc

# Connection details for the source SQL Server database
source_db = {
    'servername': r'LAPTOP-NDOACQTH\SQLEXPRESS',
    'database': 'AdventureWorks2019'
}

# Connection details for the destination SQL Server database
destination_db = {
    'servername': r'LAPTOP-NDOACQTH\SQLEXPRESS',
    'database': 'PR4'
}

# Connection string for the source SQL Server database
source_conn_str = (
    'Driver={SQL Server};'
    'SERVER=' + source_db['servername'] + ';'
    'DATABASE=' + source_db['database'] + ';'
    'Trusted_Connection=yes;'
)

# Connection string for the destination SQL Server database
destination_conn_str = (
    'Driver={SQL Server};'
    'SERVER=' + destination_db['servername'] + ';'
    'DATABASE=' + destination_db['database'] + ';'
    'Trusted_Connection=yes;'
)

# Establish connection to the source SQL Server database and read data
try:
    with pyodbc.connect(source_conn_str) as source_conn:
        person_df = pd.read_sql_query("SELECT * FROM Person.person", source_conn)
        personPhone_df = pd.read_sql_query("SELECT * FROM Person.PersonPhone", source_conn)

        # Merging DataFrames
        merged_df = pd.merge(person_df, personPhone_df, on='BusinessEntityID', how='left')

except pyodbc.Error as e:
    print("Error while connecting to the source SQL Server:", e)

# Establish connection to the destination SQL Server database and insert data
# try:
#     with pyodbc.connect(destination_conn_str) as destination_conn:
#         cursor = destination_conn.cursor()
#         
#         # Batch insert
#         insert_query = """
#         INSERT INTO [PR4].[dbo].[INVENTORY_SALES_LEVELS]
#         (INVENTORY_YEAR, INVENTORY_MONTH, PRODUCT_NUMBER, INVENTORY_COUNT, MARGIN, LANGUAGE, DESCRIPTION)
#         VALUES (?, ?, ?, ?, ?, ?, ?)
#         """
#         
#         # Convert DataFrame to a list of tuples for batch insertion
#         data_to_insert = merged_df[['INVENTORY_YEAR', 'INVENTORY_MONTH', 'PRODUCT_NUMBER', 'INVENTORY_COUNT', 'MARGIN', 'LANGUAGE', 'DESCRIPTION']].values.tolist()
#         
#         # Executing batch insert
#         cursor.executemany(insert_query, data_to_insert)
#         
#         # Commit transaction
#         destination_conn.commit()
#         
#         print("Data inserted successfully.")
# except pyodbc.Error as e:
#     print("Error while connecting to the destination SQL Server or inserting data:", e)
merged_df

C:\Users\markv\AppData\Local\Temp\ipykernel_19812\492744870.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  person_df = pd.read_sql_query("SELECT * FROM Person.person", source_conn)
C:\Users\markv\AppData\Local\Temp\ipykernel_19812\492744870.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  personPhone_df = pd.read_sql_query("SELECT * FROM Person.PersonPhone", source_conn)

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate_x,PhoneNumber,PhoneNumberTypeID,ModifiedDate_y
0,1,EM,False,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07,697-555-0142,1,2009-01-07
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24,819-555-0175,3,2008-01-24
2,3,EM,False,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04,212-555-0187,1,2007-11-04
3,4,EM,False,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28,612-555-0100,1,2007-11-28
4,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30,849-555-0139,1,2007-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19967,20773,IN,False,None,Crystal,None,Guo,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D0A499A2-C258-43E9-AB06-F61543A71134,2014-03-19,1 (11) 500 555-0171,1,2014-03-19
19968,20774,IN,False,None,Isabella,F,Richardson,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",A4F7F248-82F3-43D5-B5A3-8BD1CB610254,2013-07-29,910-555-0166,1,2013-07-29
19969,20775,IN,False,None,Crystal,S,He,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",CD0B82D0-3409-4497-A65F-A68E75EE26CB,2014-03-12,813-555-0148,2,2014-03-12
19970,20776,IN,False,None,Crystal,None,Zheng,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,2014-01-14,1 (11) 500 555-0171,2,2014-01-14
19971,20777,IN,False,None,Crystal,None,Hu,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",1773C8F3-2CC7-4826-A7F5-30D3F36543CD,2013-10-16,1 (11) 500 555-0126,2,2013-10-16