In [15]:
import pandas as pd
import pyodbc
from sklearn.model_selection import train_test_split
import random
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt

In [16]:
source_db = {
    'servername': r'LAPTOP-NDOACQTH\SQLEXPRESS',
    'database': 'DWUnitedOutdoors'
}

source_conn_str = (
    'Driver={SQL Server};'
    'SERVER=' + source_db['servername'] + ';'
    'DATABASE=' + source_db['database'] + ';'
    'Trusted_Connection=yes;'
)

In [17]:
try:
    with pyodbc.connect(source_conn_str) as source_conn:
        product_df = pd.read_sql_query("SELECT ProductID, ListPrice, StandardCost,  FROM dbo.ProductionProduct", source_conn)
        sales_order_df = pd.read_sql_query("SELECT * FROM dbo.Sales_Order", source_conn)
        sales_df = pd.merge(sales_order_df, product_df, on='ProductID', how='left')
except pyodbc.Error as e:
    print("Error while connecting to the source SQL Server:", e)
sales_df

C:\Users\markv\AppData\Local\Temp\ipykernel_20748\2623768607.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_df = pd.read_sql_query("SELECT * FROM dbo.ProductionProduct", source_conn)
C:\Users\markv\AppData\Local\Temp\ipykernel_20748\2623768607.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_order_df = pd.read_sql_query("SELECT * FROM dbo.Sales_Order", source_conn)

,SalesOrderID,OrderDate,DueDate,ShipDate,Status,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,...,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,SellStartDate,SellEndDate,DiscontinuedDate
0,43662,2011-05-31,2011-06-12,2011-06-07,5,SO43662,PO18444174044,10-4020-000227,29994,282,...,LB,2.50,1,R,L,U,14,2011-05-31,2013-05-29,1900-01-01
1,43665,2011-05-31,2011-06-12,2011-06-07,5,SO43665,PO16588191572,10-4020-000146,29580,283,...,None,0.00,0,S,no,U,21,2011-05-31,1900-01-01,1900-01-01
2,43668,2011-05-31,2011-06-12,2011-06-07,5,SO43668,PO14732180295,10-4020-000514,29614,282,...,LB,19.42,4,R,L,U,2,2011-05-31,2013-05-29,1900-01-01
3,43672,2011-05-31,2011-06-12,2011-06-07,5,SO43672,PO13862153537,10-4020-000119,30067,282,...,LB,21.42,4,M,H,U,1,2011-05-31,2012-05-29,1900-01-01
4,43677,2011-05-31,2011-06-12,2011-06-07,5,SO43677,PO11049174786,10-4020-000679,29824,278,...,LB,19.90,4,R,L,U,2,2011-05-31,2013-05-29,1900-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,2014-06-30,2014-07-12,2014-07-07,5,SO75122,None,10-4030-015868,15868,0,...,None,0.00,0,M,no,no,30,2013-05-30,1900-01-01,1900-01-01
121313,75122,2014-06-30,2014-07-12,2014-07-07,5,SO75122,None,10-4030-015868,15868,0,...,None,0.00,0,S,no,U,19,2011-05-31,1900-01-01,1900-01-01
121314,75123,2014-06-30,2014-07-12,2014-07-07,5,SO75123,None,10-4030-018759,18759,0,...,None,0.00,0,M,no,no,30,2013-05-30,1900-01-01,1900-01-01
121315,75123,2014-06-30,2014-07-12,2014-07-07,5,SO75123,None,10-4030-018759,18759,0,...,None,0.00,0,M,no,no,27,2013-05-30,1900-01-01,1900-01-01
121316,75123,2014-06-30,2014-07-12,2014-07-07,5,SO75123,None,10-4030-018759,18759,0,...,None,0.00,0,S,no,U,19,2011-05-31,1900-01-01,1900-01-01